* {
  padding: 0;
  margin: 0;
  line-height: 30px;
  box-sizing: border-box;
}
img,
svg {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}
.grid-container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows:  auto 1fr auto;
  grid-template-areas:
  'nav nav'
  'menu main'
  'footer footer';
  gap: 1rem;

}
.nav { 
  grid-area: nav;
  display: flex;
  padding: 0.5rem;
  background-color: purple;
}
.menu { 
  grid-area: menu;
  display: flex;
  height: fit-content;
  padding: 2rem;
  flex-direction: column;
  background-color: green;
}
.main { 
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: grey;
}
.footer { 
  grid-area: footer;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  background-color: blue;
}
a {
  text-decoration: none;
  color: black;
  padding-left: 2rem;
}
a:hover {
  text-decoration: underline;
}
.menyikoner {
  display: grid;
  grid-template-rows: 3rem 3rem 3rem;
  grid-template-columns: 3rem ;
  grid-template-areas: 
  'hjem'
  'stotte'
  'logget_inn';
  gap: 2rem;
  padding-top: 2rem;
}
.hjem,
.stotte,
.logget_inn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
