* {
  padding: 0;
  margin: 0;
  line-height: 30px;
  box-sizing: border-box;
}
img,
svg {
  vertical-align: middle;
  height: auto;
}
.grid-container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows:  auto 1fr auto;
  grid-template-areas:
  'nav nav'
  'menu main'
  'menu footer';
  height: 100vh;
}
.nav { 
  grid-area: nav;
  display: flex;
  padding: 0.5rem;
  background-color: #DFE9F2;
}
.menu { 
  grid-area: menu;
  display: flex;
  height: auto;
  padding: 2rem;
  flex-direction: column;
  background-color: #175073;
}
.main { 
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #DFE9F2;
}
header {
  padding-left: 2rem;
}
.footer { 
  grid-area: footer;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  background-color: #DFE9F2;
  border-top: 1px solid #DFE9F2;
}
a {
  text-decoration: none;
  color: whitesmoke;
  padding-left: 2rem;
}
a:hover {
  text-decoration: underline;
}
.menyikoner {
  display: grid;
  grid-template-rows: 3rem 3rem 3rem;
  grid-template-columns: 3rem ;
  grid-template-areas: 
  'hjem'
  'stotte'
  'logget_inn';
  gap: 2rem;
  padding-top: 2rem;
}
.hjem,
.stotte,
.logget_inn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.stats {
  padding-top: 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 10rem;
  grid-template-columns: 13rem 13rem 13rem 13rem;
  grid-template-areas: 
  'stats1 stats2 stats3 stats4';
  gap: 2rem;
}
.stats1,
.stats2,
.stats3,
.stats4 {
  padding: 1rem;
  background-color: #175073;
}
.headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.number {
  display: flex;
  padding-top: 1rem;
  justify-content: center;
}
.feilmeldinger {
  padding: 2rem;
}
.navn-og-bilde {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}
.navn-og-tittel {
  padding-left: 3rem;
}
.info-og-oppgaver {
  display: flex;
  flex-direction: row;
  margin-bottom: 20rem;
  padding-left: 2rem;
  gap: 3rem;
}