.nav {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px 0;
    z-index: 0;
    background-color: red;
}
.menu {
  position: fixed;
  background-color: green;
}
.footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  z-index: 1000;
  background-color: blue;
}
